/* HANGMAN programhoz - stílussok 
 *********************************/ 
* {
    box-sizing: border-box;
}
body {
    background: rgb(78, 76, 76);      
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 400;
    margin: 0;
}
.wrapper {
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
    background: url('hatter.jpg');         
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: yellow;
    font-size: small;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
}
.gameTitle {
    font-family: 'Monoton', cursive;
    letter-spacing: 0.2rem;
    margin: 2rem auto 1rem;
    font-size: 1.2rem;
    color: rgb(189,86,86);
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/*********************
   betűválasztó-rész 
**********************/
.lettersCont {
    display: flex;
    width: 92%;
    background:lightsteelblue;
    border: 1px solid black;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.betuLista {
    list-style-type: none;
    margin: .5rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.letterBox {
    width: 1.2rem;
    height: 1.5rem;
    font-size: 1rem;
    background:rgb(129, 142, 160);
    color: blue;
    border: 1px solid blue;
    text-align: center;
    line-height: 1rem;
    padding: .08rem;
    margin: .12rem;
}
.letterBox:hover {
    cursor: pointer;
    transform: scale(1.15);
    background:rgb(114, 122, 131);
}
.maganhangzoLetter {
    background:rgb(155, 169, 183);
}

/*******************
   feladvány-rész
********************/
#taskTipus {
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
}
/* feladvány konténer */
.feladatCont {
    max-width: 90vw;
    max-height: 70vh;
    color: black;
    margin: 0.3rem;
    padding: 0.3rem;
}
/* az egyes feladvány-sorok stílusa */
.taskLista {
    list-style-type: none;
    padding: 0;
    margin: 0 0 .25rem 0;
    display: flex;
    text-align: center;   
}
/* az egyes betűk stílusa */
 .taskBox {                 
    width: 1.38rem;
    height: 1.8rem;
    background: url('letter_bg.jpg');
    background-size: 100% 100%;
    border: 1px solid black;
    margin: .1rem;
    color: transparent;
}
.taskBox > p {
   margin: 0.5rem 0 0 0;
}
/* a nem kitalálandó betűk (-.,) stílusa */                
.taskBoxFix {
    font-weight: bold;
    background:rgba(195, 113, 113, .5);
    color: black;
    text-align: center;
}
/*------------ a jó válasz megmutatása - elfordítással */
.taskBoxShow {
    animation-name: rotateLetter;
    animation-iteration-count: 1; 
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    color: transparent;
}
/* elfordítja a betűt, mert az az előlapon van és így tükörkép lenne */
.letterTurn {                             
    transform: scaleX(-1);
}
 
@keyframes rotateLetter {
    0%  { transform: rotateY(0deg); background: url('letter_bg.jpg'); background-size: 100% 100%; color: transparent;}
    50% { transform: rotateY(90deg); background: url('letter_bg.jpg'); background-size: 100% 100%; color: transparent;}
    51% { transform: rotateY(91deg);  background: rgb(240, 117, 60); color: black; }
    100% { transform: rotateY(180deg);  background: rgb(240, 117, 60); color: black; }
}

/*---------------------------
     Az "új játék" gomb
----------------------------*/
.gameBtn {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .2rem;
    padding: .7rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: 2.5rem;
    margin: 2rem auto 1rem auto;
    cursor: pointer;
}
.gameBtnGrad1 {
    background-image: linear-gradient(to left, #314755 0%, #26a0da  51%, #314755  100%);
    transition: 0.6s;
    background-size: 200% auto;
}
/* .gameBtnGrad2 {
    background-image: linear-gradient(to left, #FF4E50 0%, #F9D423  51%, #FF4E50  100%);
    transition: 0.6s;
    background-size: 200% auto;
} */
/* .gameBtnGrad2:hover, */
.gameBtnGrad1:hover {
    background-position: right center;  
}

.rejtes {display: none;}

/*************/
/** Hangman **/
/*************/
.hangman {
    width: 100px;
    height: 140px;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}  
.figure-container {
    fill: transparent;
    stroke: rgba(120, 120, 120, .65);
    stroke-width: 4px;
    stroke-linecap: round;
  }
/* átfesti a rossz válasznál a vonal-szakaszokat */
  .figure-part {             
    stroke: white;
  }

/****************
  MEDIA QUERIES       prg (>=1200px)  XL - desktop   
 ****************/  

 @media (min-width: 500px) {
    .lettersCont {
        width: 80%;        
    }  
    .letterBox {
       padding: .3rem;
    }
    .gameTitle {
        margin: 4rem auto 1rem;
    }
    .hangman {
        margin-bottom: 3rem;
    } 
 }   
 @media (min-width: 400px) and (max-width: 599px) {
    .taskBox {
        width: 2rem;
        height: 2.4rem;
        font-size: 1.4rem;
        line-height: 1.4rem;
     } 
 }
 @media (min-width: 600px) and (max-width: 767px) {
     .gameTitle {
         font-size: 1.4rem;
     }
     #taskTipus {
         font-size: 1.4rem;        
     }

    .taskBox {
        width: 2.4rem;
        height: 3rem;
        font-size: 1.6rem;
        line-height: 1.6rem;
        padding: .5rem;
     } 
     .letterBox {
        width: 1.4rem;
        height: 1.8rem;
        font-size: 1.3rem;
        line-height: 1.3rem;
    }
}
 @media (min-width: 768px) {
    .taskBox {
        width: 3.4rem;
        height: 4rem;
        font-size: 2rem;
        line-height: 2rem;
        padding: .5rem;      
     }
     .gameBtn {
        font-size: 1.2rem;
        padding: 1rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }
 }   
 @media (min-width: 768px) and (max-width: 1000px) {
     .gameTitle {
         font-size: 1.8rem;
     }
     #taskTipus {
         font-size: 1.6rem;        
     }
     .letterBox {
        width: 1.8rem;
        height: 2.5rem;
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding: .5rem;
    }
}
 @media (min-width: 1001px) {
     .gameTitle {
         font-size: 2rem;
     } 
     #taskTipus {
         font-size: 1.8rem;        
     }
    .lettersCont {
        width: 60%;        
    } 
    .letterBox {
        width: 2rem;
        height: 2.8rem;
        font-size: 1.6rem;
        line-height: 1.6rem;
        padding: .5rem;
    }
    .gameBtn {
        font-size: 1.6rem;
    }
}


