/**  Mozifilmek oldalról (www.omdbapi.com) film-infók lekérése - stílus file ***/
/*******************************************************************************/

* {
    box-sizing: border-box;
}
:root {  
    --elemWidth : 17vw;  
    --bodyBgColor : #bcecec;                     /* oldal háttérszín */
    --wrapperBgColor : #94e3e6;                  /* főkép háttérszín */
    --filmCardBgColor : #3de2ad;                 /* film-kárya háttérszín */
    --filmCardBgColorHover : #7bf37bd8;          /* film-kárya hover-háttérszín */
    --fCardMoreBtnBgColor : #B9F7F9;             /* film-kárya részletek gomb háttérszín */
    --fCardMoreBtnColor : #373737;               /* film-kárya részletek gomb szín */
    --filmLeirasBgColor : rgb(200, 200, 200);    /* filmek leírása háttérszín */
    --fejlecBgColor : #1f9972d8;                 /* fejlec háttérszín */
    --formBgColor : #bcecec;                     /* kereső form háttérszín  */
    --formBtnBgColor : #94e3e6;                  /* kereső form gomb háttérszín */
    --formBtnBgColorHover : #3de2ad;             /* kereső form gomb hover-szín */
}

body {
   background: var(--bodyBgColor);
   font-family: "Lucida Sans", sans-serif;
}
.wrapper {
    max-width: 1200px;    
    padding: 0;
    margin: 0 auto;
    background: var(--wrapperBgColor);
    position: relative;
}

/*******************************/
/* Kereséshez adatbekérő FORM  */
/*******************************/
#fejCim {
    color: white;
    text-align: center;
    padding: 1.5rem;
    font-weight: bold;
    text-shadow: 0.15rem 0.15rem 0.6rem rgb(2, 4, 34);
}
.fejlecDiv {
    min-height: 14rem;    
    margin: 0 auto;
    background: var(--fejlecBgColor);
} 

#formSearch {
    background: var(--formBgColor);
    color: black;
    border: 0.06rem solid black;
    padding: 1rem;
    width: 40vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.6rem;
}
    #formSearch label {
        padding-top: 0.5rem;
        margin-right: 0.6rem;
        font-size: 0.92rem;
    }
        #formSearch label:first-of-type input {
            width: 15rem;
        }
        #formSearch label:last-of-type input {
            width: 4rem;
        }

        #formSearch label input {
            background: white;
            color: black;
            outline: 0.01rem solid rgb(190, 190, 190); 
            margin-right: 2em;
            font-size: 0.92rem;
        }
            #formSearch label input:focus {
                outline: 0.15rem solid rgb(120, 120, 120);   
            }

    #formSearch button {
        padding: 0.5rem 2rem;
        background: var(--formBtnBgColor);
        color: black;
        border: 0.05rem solid black;
        border-radius: 0.4rem;
        margin-left: 1rem;
        margin-top: 1.3rem;
    }
        #formSearch button:hover {
            background: var(--formBtnBgColorHover);
            color: white;
        }
  
/***************************/
/* filmek/plakátok listája */
/***************************/

.filmLista {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; 
    align-items: stretch;
    padding: 0;
    margin: 0;
    list-style-type:none;
} 
.filmElemTabla {
    flex-basis : var(--elemWidth);                /* >1200px: 17vw */
}
.filmCard {
    position : relative; 
    padding: 0.5rem;
    margin:0.3rem;
    background: var(--filmCardBgColor);
    box-shadow: 0.4rem 0.4rem 0.4rem rgb(80, 80, 80);
    height: calc(var(--elemWidth) * 1.9);     
    max-width: var(--elemWidth);
    font-size: 1rem;
}

  .filmCard:hover {
      /* transform: scale(1.02); */
      background: var(--filmCardBgColorHover);
      box-shadow: 1rem 1rem 1rem rgb(80, 80, 80);
  }

.moviePoster {
    width: 100%; 
}
.egyFilmLeiras {
   padding-top: 0.5rem;
}
.clearfix::after {
    display: table;
    clear: both;
    content : ""
}
.movieTitle {
    max-width: calc(var(--elemWidth - 1rem));
    font-weight: bold;
}
.movieYear {
    float: left;
    color:black;
}
.alsoResz {
    position : absolute; 
    width: 94%;
    bottom: 0;
} 
    .alsoResz input {
        float: right;
        background : var(--fCardMoreBtnBgColor);
        color: var(--fCardMoreBtnColor);
        padding: 0.2rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
        box-shadow: 0.1rem 0.1rem 0.3rem black;
        font-size:0.9rem;
        max-width: 6rem;   
    }
        .alsoResz input:hover {
            background: var(--fejlecBgColor);
            color: white;
            border: 0;            
        }

/*****************************/
/* filmrészlet megjelenítése */
/*****************************/
.filmLeiras {
    display: none;
    position: fixed;
    top: calc((100% - 50vh) / 2);
    left: calc((100% - 45vw) / 2);
    width: 45vw;
    height: 50vh;
    background: var(--filmLeirasBgColor);
    padding: 10px;
    border: 2px double rgb(14, 91, 97);
    box-shadow: 3px 3px 10px black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
    overflow: auto;
}

.leirasCloseBtn {
    padding: 0.1rem 0.2rem;
    float: right;
    font-weight: bold;
    border: 0.01rem solid rgb(66, 66, 66);
    border-radius: 15%;
}
    .leirasCloseBtn:hover {
        background: rgb(150, 150, 150);
        cursor: pointer;
    }

.infoBox {
    padding: 0.5rem;
}

    .infoBox .tartalomDiv {
        padding-bottom: 1rem;
        display: flex
    }

    .infoBox p > span {               /*}:not(:nth-of-type(1)) {*/
        font-style:italic;
        line-height: 1.5rem;
        font-size: 1rem;
        font-family: Tahoma, sans-serif;
    }

    .infoBox h5 {
        font-family: Tahoma, sans-serif;
        font-weight: bold;
        padding-bottom: 0.5rem;
    }

.plotFilm, .actorsFilm {
    padding-left: 1.2rem;
    padding-top: 0.1rem;
    font-style: italic;
    line-height: 1.5rem;
    font-size: 1rem;
    font-family: Tahoma, sans-serif;
}

.plotFilm {
    text-align: justify;
}

.dispBox {
    display: block;
}

/************/
/* Lábléc   */
/************/
.lablec {
    min-height: 3rem;
    text-align: center;
    line-height: 3rem;
    width: 100%;
    color: lightgray;
    background: #373737;      
}
    .lablec > p {
        margin: 1rem auto 0;
    }


/***********/
/* LAPOZÁS */
/***********/
.lapozas {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 2rem;
}
    .lapozas .page,
    .lapozas .prevPage,
    .lapozas .nextPage {
        display: inline-block;
        padding: 0.3rem 0.4rem;
        border: 0.08rem solid rgba(0,0,0,0.2);
        margin: 0 0.4rem 1rem 0;
        text-decoration: none;  
        cursor: pointer;
    }

    .lapozas .pageColor {
        background:white;
        color:black;
    }

    .lapozas .page:hover:not(.megjelolPage) {
        background: rgb(180, 180, 180);
        color: #fff
    }

    .lapozas .prevPage,
    .lapozas .nextPage {
        background: rgb(180, 180, 180);
        border-radius: .4rem;
    }

        .lapozas .prevPage:hover,
        .lapozas .nextPage:hover {
            background: rgb(160, 160, 160);
            color: #fff
        }

    /*--- aktuális lap megjelölése ------*/        
    .megjelolPage {
        background:rgb(100, 100, 100);
        color:white;
    }


/* Aktuális lapszám kiírása a pagination alá */
.pageNumbers {
    display: flex;
    justify-content: center;
}        

    .pageNumbers p {
        margin: 0 auto 1rem;
        font-style: italic;
        color: black;
    }

/* Egyeb */
/*-------*/
.elrejtes {display: none}

.uresResz {
    height: calc(100vh - 18rem);          /* +1rem a lábléc felső margin */
}
/* ha csak egy sor filmcard jelenik meg a láblécet alólra nyomja (.6rem a card marginja) */
.uresResz2 {
    height: calc( 100vh - 18rem - calc(var(--elemWidth) * 1.9) - .6rem );
}


/****************
  MEDIA QUERIES                       prg (>=1200px)  XL - desktop   
 ****************/                  
                                    
 @media (max-width: 374px) {     /* < XS - mini mobile (pl. Iphone 5S) */
    .infoBox h5 {
       font-size: 1rem;
    }
    .infoBox .tartalomDiv span,
    .infoBox p,
    .infoBox p span {
        line-height: 1.1rem;
        font-size: 0.85rem;
    }  
    .movieTitle {
        font-size: 0.85rem;
    }
}

 /*--------------------------------------*/
 @media (max-width: 575px) {        /*  XS  */
    :root {
        --elemWidth : 80vw; 
    }
    .filmCard {
    height: calc(var(--elemWidth) * 1.75);     
    }

    /* részletes filmleíráshoz  */
    .filmLeiras {                     
        top: calc((100% - 60vh) / 2);
        left: calc((100% - 85vw) / 2);
        height: 60vh;
        width: 85vw;    
    }   
    .infoBox p span {        
       font-style:italic;
       line-height: 1.4rem;       
    }
    .fejlecDiv {
        padding-bottom: 1rem;
    }
    .uresResz {
        height: calc(100vh - 24.2rem);
    }

    .plotFilm, .actorsFilm {
       padding-left: 0.5rem;       
       line-height: 1.4rem;
    }

    /* kereső mezők  */
    #formSearch {                   
        width: 17rem;
        display: block;
    }
        #formSearch label input {
            margin-bottom: 0;
        }
        #formSearch button {
            width: 13rem;    
        }

    /* kis méretnél kisebbre veszi a margót, hogy kiférjen a lapozó */
    .lapozas .page {
        padding: 0.3rem 0.3rem;
        margin: 0 0.3rem 1rem 0;   
    }

  }

/*--------------------------------------*/
 @media (min-width: 576px) and (max-width: 767px) {          /* SM - smart mobile */
    :root {
        --elemWidth : 43vw; 
    }
    .movieTitle {
        font-size: 0.9rem;
    }
    .filmLeiras {                       
        left: calc((100% - 80vw) / 2);
        width: 80vw;    
    } 
    .infoBox p span {        
       font-style:italic;
       line-height: 1.4rem;       
    }
    .fejlecDiv {
        padding-bottom: 1rem;
    }
    .uresResz {
        height: calc(100vh - 24.2rem);
    }

    .plotFilm, .actorsFilm {
       padding-left: 0.5rem;       
       line-height: 1.4rem;
    }

    /* kereső mezők  */
    #formSearch {                   
        width: 17rem;
        display: block;
    }
        #formSearch label input {
            margin-bottom: 0;
        }
        #formSearch button {
            width: 13rem;
        }
 }

 /*--------------------------------------*/
 @media (min-width: 768px) and (max-width: 991px) {         /* MD - tablet */
    :root {
        --elemWidth : 30vw; 
    }
    .movieTitle {  
        font-size: 0.9rem;
    }
    .filmLeiras {                       
        left: calc((100% - 70vw) / 2);
        width: 70vw;    
    } 
    .infoBox p span {        
       font-style:italic;
       line-height: 1.4rem;       
    }
    .plotFilm, .actorsFilm {
       padding-left: 0.5rem;       
       line-height: 1.4rem;
    }

    #formSearch {                   
        display: flex;
        width: 70vw;
    }
 }

 /*--------------------------------------*/
 @media (min-width: 992px) and (max-width: 1192px) {          /* LG - mini laptop */
    :root {
        --elemWidth : 30vw; 
    }
    .filmCard {
        height: calc(var(--elemWidth) * 1.83);     
    }
    .filmLeiras {                       
        left: calc((100% - 65vw) / 2);
        width: 65vw;    
    } 
    .infoBox p span {        
       font-style:italic;
       line-height: 1.4rem;       
    }
    .plotFilm, .actorsFilm {
       padding-left: 0.5rem;       
       line-height: 1.4rem;
    }

    #formSearch {                   
        display: flex;
        width: 60vw;
    }
        #formSearch label input {
            margin-right: 2em;
        }
 }

 /*--------------------------------------*/
 @media (min-width: 1193px) and (max-width: 1410px) {        /* ez csak muszájból! */
    :root {
        --elemWidth : 25vw; 
    }
    .filmElemTabla {
        flex-basis : 20vw;
        min-width : 20vw;
    }
    .filmCard {
        height: calc(var(--elemWidth) * 1.6);     
    }
    .movieTitle {  
        font-size: 0.9rem;
    }
    .filmLeiras {                       
        left: calc((100% - 60vw) / 2);
        width: 60vw;    
    } 
    .infoBox p span {        
       font-style:italic;
       line-height: 1.4rem;       
    }
    .plotFilm, .actorsFilm {
       padding-left: 0.5rem;       
       line-height: 1.4rem;
    }

    #formSearch {                   
        display: flex;
        width: 50vw;
    }
}
